.product-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
}
.product-list {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.product-item {
    gap: 1.5em;
    border: 1px solid #eaeaea;
    padding: 1.5em;
    border-radius: 8px;
    width: 40%;
}
.search-button {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial,sans-serif;
    font-size: 14px;
}